body {
    padding-bottom:15px;
    width:280px;
}

.top-pad {
    margin-top: 25px;
    margin-bottom: 0px !important;
}

.icon {
    width: 16px;
    height: 16px;
}

.last {
    margin-bottom: 0px !important;
}