/*imdb-style*/

.star-box-giga-star {
    background-position: -180px -71px;
    width: 66px;
    height: 66px;
    line-height: 66px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    color: black;
    font-family: tahoma;
}

.imdb-icon {
    background-image: url('../img/imdbSprite.png');
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-left: 2px;
    margin-right: -17px;
    margin-top: 5px;
}

.queue-icon {
    margin-left: -10px;
}
/*tomato-style*/

.rt-icon {
    display: inline-block;
    vertical-align: text-bottom;
    background: transparent url('../img/tomatoSprite.png') no-repeat -312px -160px;
}

.search-rt-icon {
    margin-left: 12px !important;
}

.dvd-rt-icon {
    margin-left: 10px !important;
}

.tomato-filler {
    margin-left: 10px;
}

.tomato-icon.med.rotten {
    background-position: -96px -129px;
}

.tomato-icon.med.fresh {
    background-position: -64px -129px;
}

.audience-icon.med.rotten {
    background-position: -127px -129px;
}

.audience-icon.med.fresh {
    background-position: -31px -129px;
}

.rt-icon.med {
    margin-left: -2px;
    width: 32px;
    height: 32px;
}

.rt-score {
    font-size: .9em;
    vertical-align: 7px;
}

.tomato-wrapper {
    padding-left: 8px;
}
/*netflix-style*/

.nr-popup-rating-container {
    float: right;
    margin-bottom: 40px;
}

.nr-noop {
    /* placeholder class */
}

.nr-label {
    margin-bottom: 15px !important;
}

.rating-link {
    text-decoration: none !important;
    color: black !important;
    padding: 5px;
    padding-left: 0px;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

.dvd-popup {
    margin-bottom: -15px;
    margin-top: -29px;
    margin-left: 45px;
}

.dvd-movie {
    margin-bottom: -15px;
    margin-top: -29px;
    margin-left: 10px;
}

.dvd-search-page {
    margin-bottom: 10px;
    margin-top: -6px;
    margin-left: 0px;
}

.wi-search-page {
    margin-bottom: -4px;
    margin-top: -30px;
    margin-left: 13px;
}

.imdb-wi {
    margin-left: -110px;
    margin-right: -11px;
}

.nr-label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.75em;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

a.nr-label:hover,
a.nr-label:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    background-color: #bebebe;
}

.nr-label:empty {
    display: none;
}

.btn .nr-label {
    position: relative;
    top: -1px;
}

.label-default {
    background-color: #777;
}

.label-default[href]:hover,
.label-default[href]:focus {
    background-color: #5e5e5e;
}

.label-primary {
    background-color: #428bca;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #3071a9;
}

.label-success {
    background-color: #5cb85c;
}

.label-success[href]:hover,
.label-success[href]:focus {
    background-color: #449d44;
}

.label-info {
    background-color: #5bc0de;
}

.label-info[href]:hover,
.label-info[href]:focus {
    background-color: #31b0d5;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-warning[href]:hover,
.label-warning[href]:focus {
    background-color: #ec971f;
}

.label-danger {
    background-color: #d9534f;
}

.label-danger[href]:hover,
.label-danger[href]:focus {
    background-color: #c9302c;
}

.trailer-label {
    text-decoration: none !important;
}

.dvd-trailer-label {
    margin-left: 10px;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.popover.top {
    margin-top: -10px;
}

.popover.right {
    margin-left: 10px;
}

.popover.bottom {
    margin-top: 10px;
}

.popover.left {
    margin-left: -10px;
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}

.popover-content {
    padding: 9px 14px;
}

.popover > .arrow,
.popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover > .arrow {
    border-width: 11px;
}

.popover > .arrow:after {
    content: "";
    border-width: 10px;
}

.popover.top > .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, .25);
    border-bottom-width: 0;
}

.popover.top > .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: " ";
    border-top-color: #fff;
    border-bottom-width: 0;
}

.popover.right > .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0, 0, 0, .25);
    border-left-width: 0;
}

.popover.right > .arrow:after {
    bottom: -10px;
    left: 1px;
    content: " ";
    border-right-color: #fff;
    border-left-width: 0;
}

.popover.bottom > .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-width: 0;
    border-bottom-color: #999;
    border-bottom-color: rgba(0, 0, 0, .25);
}

.popover.bottom > .arrow:after {
    top: 1px;
    margin-left: -10px;
    content: " ";
    border-top-width: 0;
    border-bottom-color: #fff;
}

.popover.left > .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-right-width: 0;
    border-left-color: #999;
    border-left-color: rgba(0, 0, 0, .25);
}

.popover.left > .arrow:after {
    right: 1px;
    bottom: -10px;
    content: " ";
    border-right-width: 0;
    border-left-color: #fff;
}

.metacritic-favorable {
    background-color: #6c3;
}

.metacritic-average {
    background-color: #fc3;
}

.metacritic-unfavorable {
    background-color: #f00;
}

.metascore {
    vertical-align: super;
    text-align: center;
    padding: 6px;
    font-size: 17px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal!important;
    font-weight: bold!important;
}
